# Entornos virtuales
env/
venv/
ENV/
.venv/

# Archivos de entorno
.env
.env.*

/staticfiles/

# Ignora caché de Python
*.py[cod]
*.pyo


# Archivos de credenciales y configuración sensible
gcs_credentials.json
railway_base64_env.txt
railway_env_vars.txt
dias-administrativos-*.json
*.json.key
*.pem
*.p12
*.pfx
generate_base64_credentials.py

# Archivos temporales de credenciales
temp_credentials.*
credentials_temp.*
*_credentials.json
*_key.json

# Ignora migraciones (excepto __init__.py si quieres conservar estructura)
render.yaml

ignorar bases de datos SQLite
*.db
db.sqlite3
db2.sqlite3
null
# Archivos de configuración o logs temporales
*.log
*.pot
*.pyc
*.pyo
*.pyd


.sonarlint/connectedMode.json
.vscode/settings.json


