/* ----------- EMPRESA 1 Y 3 ----------- */
.empresa-azul .accordion-title-active {
    /* azul claro */
    color: #2563eb;
    /* azul fuerte */
    font-weight: 600;
    border-radius: 8px;
    /* ✅ borde más curvo */
    padding: 0.5rem 0.75rem;
}

.empresa-azul .menu-button-active {
    background-color: #2563eb;
    /* azul fuerte */
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 8px;
    /* ✅ borde más curvo */
}

.empresa-azul .menu-button-active {
    background-color: #2563eb;
    /* azul fuerte */
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 8px;
    /* ✅ borde más curvo */
}

.empresa-azul .accordion-hover:hover {
    background-color: #006eff; /* azul clarito */
    color: #ffffff;            /* azul empresa */
    font-weight: 500;
    border-radius: 8px;
  }

/* ----------- EMPRESA 2 ----------- */
.empresa-roja .accordion-title-active {

    color: #b91c1c;
    font-weight: 600;
    border-radius: 8px;
    /* ✅ borde más curvo */
    padding: 0.5rem 0.75rem;
}

.empresa-roja .menu-button-active {
    background-color: #dc2626;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 8px;
    /* ✅ borde más curvo */
}

.empresa-roja.accordion-hover:hover {
    background-color: #ff0000;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 8px;
    /* ✅ borde más curvo */
}

.empresa-roja .menu-button-inactive,
.empresa-azul .menu-button-inactive {

  font-weight: 600;
  text-transform: uppercase;
  border-radius: 8px;
}
