{% extends "../base2.html" %} {% load crispy_forms_tags%} {% load static %}
{%block content%}
<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" type="text/css" href='{% static "CSS/formulario/style_so.css"%}' />
  <link rel="stylesheet" type="text/css" href='{% static "CSS/loader.css"%}' />
  <!--html meta-->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Formulario</title>
</head>

<body>
  <div class="col-md-4 mx-auto content" style="position:static; z-index:2;">
    <script type="text/javascript">
      $(document).ready(function () {
        setTimeout(function () {
          $(".content").fadeOut(1500);
        }, 3000);
      })
    </script>
  </div>




  <div class="cuerpo">
    <form id="miFormulario" method="POST">
      {% csrf_token %}
      <div class="formulario">

        <div class="caja_g">
          <div>
            <label class="form-label" for="txtemail">Correo institucional</label>
            <input type="email" class="form-control" id="txtemail" name="email" autocomplete="email"
              value="{{user.email | lower}}" required disabled />
          </div>
          <div>
            <label class="form-label" for="txtencargado">Encargado</label>
            <input type="email" class="form-control" id="txtencargado" name="encargado"
              value="{{user.jefe.email | lower}}" required disabled />
          </div>
        </div>


        <!--  DEFINICIÓN DE INPUT PARA INGRESAR motivo -->
        <div class="caja_p">
          <div>
            <label class="form-label" for="motivo">Motivo</label>
            <select class="form-select lg mb-3" name="motivo" id="motivo" required>
              <option value="" selected>Seleccionar motivo</option>
              {% for motivo in motivos %}
              <option value="{{ motivo.id }}">{{ motivo.motivo }}</option>
              {% endfor %}
            </select>
          </div>

          <div>
            <label class="form-label" for="jornada">Jornada</label>
            <select class="form-select lg mb-3" name="jornada" id="jornada" required>
              <option value="" selected>Seleccionar jornada</option>
              {% for jornada in jornadas %}
              <option value="{{ jornada.id }}">{{ jornada.jornada }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="caja_p">

          <!--  DEFINICIÓN DE INPUT PARA INGRESAR fecha -->
          <div>
            <label class="form-label" for="fecha_solicitada">Fecha de Solicitud</label>
            <input type="date" obj name="fecha" id="fecha_solicitada" onchange="obtenerfechafinf1()" required
              onfocus="this.blur()" onmouseup="this.blur()" />
          </div>

          <div>
            <label class="form-label" for="hora_cub">Desde</label>
            <input type="time" name="hora_ingreso" id="hora_cub" disabled />
          </div>

          <div>
            <label class="form-label" for="hora_reg">Hasta</label>
            <input type="time" name="hora_regreso" id="hora_reg" disabled />
          </div>


          <div>
            <label class="form-label" for="fechaCumple">Cumpleaños</label>
            <input type="date" obj name="fechaCumple" id="fechaCumple" onchange="validarFecha()"
              value="{{user.birthday | lower}}" required disabled />
          </div>


        </div>


        <div class="caja_p">

          <div>
            <label class="form-label" for="dias_T">Días tomados</label>
            <input type="number" class="form-control" id="dias_T" name="dias_tomados"
              value="{{user.dias_tomados | lower}}" disabled />
          </div>

          <div>
            <label class="form-label" for="dias_R">Días Restantes</label>
            <input type="number" class="form-control" id="dias_R" name="dias_restantes"
              value="{{user.dias_restantes | lower}}" disabled />
          </div>
          <!--  DEFINICIÓN DE INPUT fecha cumpleños -->
          {% if user.empresa.id == 1 or user.empresa.id == 3 %}
          <div>
            <label class="form-label" for="dias_C">Días Cumpleaños</label>
            <input type="text" class="form-control" id="dias_C" name="dias_cumpleaños" value="{{ mensaje_beneficio }}"
              disabled />
          </div>
          {% endif %}
        </div>

        <div class="caja_g">
          <textarea name="observacion" id="observacion" placeholder="Ingrese alguna observación de ser necesario"
            cols="30" rows="10" maxlength="100"></textarea>
          <p><span id="contador">0</span> / 100 caracteres</p>
        </div>
        <div class="caja_p">
          <!--  DEFINICIÓN DE BOTÓN PARA VALIDAR ENVIO -->

          <div class="caja_g">
            <div class="d-grid gap-2">
              <input class="btn btn-primary obj-enviar lg mb-3" type="submit" id="enviar" name="enviar" required>
              </input>
            </div>
          </div>
          <div class="content-loader" id="loader" style="display: none;">
            <div class="loader"></div>
            <div class="cargando">Cargando...</div>
          </div>
        </div>
    </form>
  </div>









  <!--  IMPORTACIÓN DE JS JQUERY -->
  <script src='{% static "assets/js/jquery/jquery-3.6.4.min.js" %}'></script>
  <script src='{% static "assets/js/jquery/jquery-ui.js" %}'></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <!--  IMPORTACIÓN DE JS DE BOOSTRAP -->
  <script src='{% static "assets/js/bootstrap/bootstrap.bundle.min.js" %}'></script>
  <!--  IMPORTACIÓN DE JS DE PERSONALIZADO -->
  <script src='{% static "assets/js/app.js" %}'></script>
  <script src='{% static "assets/js/contador.js" %}'></script>


</body>

</html>
{% endblock %}