/* Cambiar color del texto de etiquetas (label) */
label {
  color: #ffffff !important;
}

/* Cambiar color de los títulos en campos tipo 'FilteredSelectMultiple' */
.selector-chosen h2,
.selector-available h2 {
  color: #ffffff !important;
}

/* Cambiar color del texto en listas de selección */
.selector select {
  color: #000000 !important; /* Letras negras */
  background-color: #ffffff !important; /* Fondo blanco */
}

/* Ajustar etiquetas (chips) de los campos seleccionados */
.select2-selection__choice {
  background-color: #050039 !important;
  color: #fff !important;
  border-color: #666 !important;
}

.select2-selection__rendered {
  color: #fff !important;
}

/* Ajustar el color del texto dentro del cuadro completo */
.select2-selection {
  background-color: #182269 !important;
  color: #fff !important;
  border: 1px solid #555 !important;
}

/* Ajustar texto del input de búsqueda select2 */
.select2-search__field {
  background-color: #00011b !important;
  color: #fff !important;
  border: 1px solid #777 !important;
}

/* Guardar */
input[name="_save"],
.button[name="_save"] {
  background-color: #28a745 !important;
  color: #fff !important;
  border-color: #218838 !important;
}

/* Eliminar */
input[name="_delete"],
.button[name="_delete"] {
  background-color: #dc3545 !important;
  color: #fff !important;
  border-color: #c82333 !important;
}

/* Guardar y añadir otro */
input[name="_addanother"],
.button[name="_addanother"] {
  background-color: #007bff !important;
  color: #fff !important;
  border-color: #0069d9 !important;
}

/* Guardar y continuar editando */
input[name="_continue"],
.button[name="_continue"] {
  background-color: #17a2b8 !important;
  color: #fff !important;
  border-color: #002329 !important;
}

/* Histórico (botón deshabilitado) */
input[disabled],
.button[disabled] {
  background-color: #002b51 !important;
  color: #e0e0e0 !important;
  border-color: #6c757d !important;
}
