{% extends "../base2.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>

  <script>
    var events = JSON.parse('{{ events|escapejs }}'); // Eventos iniciales

    // Genera la URL de filtrado desde Django y pásala a JavaScript
    var filtrarEventosURL = "{% url 'filtrar_eventos' %}";
  </script>
  <title>Calendario</title>
</head>

<body>

  {% if user.group.id == 11 %}
  <!-- Lista desplegable de empresas -->
  <div style="text-align: center; margin-top: 20px;">
    <select id="empresaFilter" class="form-select" style="max-width: 300px; margin: auto;">
      <option value="">Todas las empresas</option>
      {% for empresa in empresas %}
      <option value="{{ empresa.id }}">{{ empresa.empresa }}</option>
      {% endfor %}
    </select>
  </div>
  {% endif %}

  <!-- Aquí se renderizará el calendario -->
  <div id='calendar' style="max-width: 1000px; margin: auto; max-height: 600px;"></div>
  <div id="eventPopup"
    style="display: none; position: absolute; background-color: white; padding: 10px; border: 1px solid #ccc; z-index: 100;">
  </div>

  <script src='{% static "assets/js/calendar.js" %}'></script>

</body>

<!-- IMPORTACIÓN DE JS JQUERY -->
<script src='{% static "assets/js/jquery/jquery-3.6.4.min.js" %}'></script>
<script src='{% static "assets/js/jquery/jquery-ui.js" %}'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<!-- IMPORTACIÓN DE JS DE BOOTSTRAP -->
<script src='{% static "assets/js/bootstrap/bootstrap.bundle.min.js" %}'></script>

</html>
{% endblock %}