{% extends "../base.html" %} {% load crispy_forms_tags%} {% load static %}
{%block content%}
<script src='{% static "assets/js/bootstrap/bootstrap.bundle.min.js" %}'></script>
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel=" stylesheet"
      type="text/css"
      href='{% static "CSS/footer/footer.css" %}'
    />
    <link
      rel=" stylesheet"
      type="text/css"
      href='{% static "CSS/index.css" %}'
    />
    <title>Inicio</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using one tap sigin" />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>

  <body>
    <main>
      <div
        style="
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: center;
          font-family: 'Times New Roman', Times, serif;
        "
      >
        <h1
          id="welcome-message"
          style="display: none; margin-bottom: 20px; margin-top: 20px"
          class="animate__animated animate__fadeInRight animate__slow"
        >
          BIENVENIDO!! {{ user.username|upper }}
        </h1>
      </div>

      <script>
        // Obtener el usuario actual
        const username = "{{ user.username }}";

        // Verificar si es el primer inicio de sesión en la sesión del navegador
        const firstLoginKey = `first_login_${username}`;
        const isFirstLogin = !sessionStorage.getItem(firstLoginKey);

        if (isFirstLogin) {
          // Mostrar el mensaje de bienvenida
          const welcomeMessage = document.getElementById("welcome-message");
          welcomeMessage.style.display = "block";

          // Establecer la bandera en sessionStorage
          sessionStorage.setItem(firstLoginKey, "false");
        }
      </script>

      <div class="container">
        <div class="card">
          <h3>PORTAL TRABAJADOR</h3>
          {% if not user.jefe or not user.birthday or not user.date_joined %}
          <a
            class="nav-link"
            onclick="sweet_bienvenida()"
            href="#"
            style="color: rgb(5, 24, 169)"
            >Solicitar</a
          >
          {% else %} {% if user.tiempo <= 182.502 %}
          <a class="nav-link" onclick="menor_6()" href="#" style="color: red">
            Solicitar</a
          >

          {% else %}
          <a class="nav-link" href='{% url "formulario" %}'>SOLICITAR</a>
          {% endif %} {% endif %}
          <a class="nav-link" href='{% url "MiListado" %}'>MIS SOLICITUDES</a>
          {% if request.user.empresa.id == 2 %}
          <a href='{% url "calendario" %}'> CALENDARIO PERMISOS </a>
          {%endif%}
        </div>

        {% if request.user.group_id == 14 %}
        <div class="card">
          <h3>COORDINADORA ACADÉMICA</h3>
          <a href='{% url "calendario" %}'> CALENDARIO PERMISOS </a>
          <a href='{% url "calendar" %}'> CALENDARIO LICENCIAS </a>
        </div>
        {%endif%}


        {% if request.user.group_id in grupos_permitidos %}
        <div class="card">
          <h3>PORTAL E. DIRECTIVO</h3>
          <a href='{% url "Listado" %}'> FORMULARIOS PENDIENTES </a>
          <a href='{% url "historial" %}'> HISTORIAL </a>
          <a href='{% url "usuarios" %}'> USUARIOS </a>
          {% if request.user.empresa.id == 1 or request.user.empresa.id == 3 %}
          <a href='{% url "calendario" %}'> CALENDARIO PERMISOS </a>
          {%endif%}
        </div>
        {%endif%} {% if request.user.is_staff %}
        <div class="card">
          <h3>VACACIONES</h3>
          <a href='{% url "periodovacaciones" %}'> VACACIONES </a>
        </div>
        {%endif%} {% if request.user.group_id in grupos_permitidos %}
        <div class="card">
          <h3>LICENCIA</h3>
          {% if request.user.is_staff %}
          <a href='{% url "licencia" %}'> LICENCIA </a>
          {%endif%}
          <a href='{% url "calendar" %}'> CALENDARIO LICENCIAS </a>
          <a href='{% url "history" %}'> HISTORIAL LICENCIAS </a>
        </div>
        {%endif%}
        <div class="card">
          <h3>BENEFICIOS</h3>

          <a href='{% url "view_pdf" %}'> VER BENEFICIOS </a>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="button">
        <div class="top-social">
          <ul class="example-2">
            <li class="icon-content">
              <a
              {% if user.empresa.id == 1 or  user.empresa.id == 3 %}
                href="https://www.facebook.com/somoscslb/"
                {% elif  user.empresa.id == 2 %}
                href="https://www.facebook.com/cea/"
                {% endif %}
                class="facebook"
                aria-label="Facebook"
                data-social="facebook"
              >
                <i class="fa fa-facebook-f fa-2x"></i>
                <div class="tooltip">Facebook</div>
              </a>
            </li>
            <li class="icon-content">
              <a
              {% if user.empresa.id == 1 or  user.empresa.id == 3 %}
                href="https://www.linkedin.com/company/colegio-san-luis-beltr%C3%A1n/"
                {% elif  user.empresa.id == 2 %}
                href="https://www.linkedin.com/company/colegio-enrique-alvear-de-cerro-navia/"
                {% endif %}
                class="linkedin"
                aria-label="linkedin"
                data-social="linkedin"
                target="_blank"
              >
                <i class="fa fa-linkedin fa-2x"></i>
                <div class="tooltip">Linkedin</div>
              </a>
            </li>
            <li class="icon-content">
              <a
              {% if user.empresa.id == 1 or  user.empresa.id == 3 %}
                href="https://www.instagram.com/somoscslb/?hl=es-la/"
                {% elif  user.empresa.id == 2 %}
                href="https://www.instagram.com/colegioenriquealvear/"
                {% endif %}
                class="instagram"
                aria-label="Instagram"
                data-social="instagram"
                ><i class="fa fa-instagram fa-2x"></i>
                <div class="tooltip">Instagram</div>
              </a>
            </li>

            <li class="icon-content">
              <a
              {% if user.empresa.id == 1 or  user.empresa.id == 3 %}
                href="https://www.youtube.com/@CSLB-/featured/"
                {% elif  user.empresa.id == 2 %}
                href="https://www.youtube.com/@ColegioEnriqueAlvear"
                {% endif %}
                class="youtube"
                aria-label="Youtube"
                data-social="youtube"
              >
                <i class="fa bi-youtube fa-2x"></i>
                <div class="tooltip">Youtube</div>
              </a>
            </li>

            <li class="icon-content">
              <a
              {% if user.empresa.id == 1 or  user.empresa.id == 3 %}
                href="https://cslb.cl/"
                class="cslb"
                aria-label="Web"
                data-social="cslb"
                {% elif  user.empresa.id == 2 %}
                href="https://www.ceacslb.cl/"
                class="cea"
                aria-label="Web"
                data-social="cea"
                {% endif %}
              >
                <img
                {% if user.empresa.id == 1 or  user.empresa.id == 3 %}
                  src="{% static '../media/image/cslb.png' %}"
                  {% elif  user.empresa.id == 2 %}
                  src="{% static '../media/image/cea.png' %}"
                  {% endif %}
                  alt="Icon"
                  class="icon-image"
                />
                {% if user.empresa.id == 1 or  user.empresa.id == 3 %}
                <div class="tooltip">Web_cslb</div>
                {% elif  user.empresa.id == 2 %}
                <div class="tooltip">Web_cea</div>
                {% endif %}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
{% endblock %}
