<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error de Dominio</title>
</head>

<body>
    <h1>{{ error_message }}</h1>
    <p>Por favor, utiliza un correo electrónico con uno de los siguientes dominios:</p>
    <ul>
        {% for domain in allowed_domains %}
        <li>{{ domain }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}">Volver al inicio de sesión</a>
</body>

</html>