/* usuarios/static/admin/css/custom_admin.css */
.button.generar-pdf {
    display: inline-block;
    padding: 6px 12px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #5bc0de;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}

.button.generar-pdf:hover {
    background-color: #31b0d5;
    border-color: #269abc;
}
